* {
  box-sizing: border-box;
}

body{
    padding: 1rem, 3rem, 1rem, 3rem;
    font-family: Arial, Helvetica, sans-serif;
}

footer{
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 2rem;
}

.footer_p_bigger{
    font-size: 3rem;
}

.footer_span{
    font-weight: 600;
}

.footer_hr{
    border-top: 1px solid #ffffff;
}
