header nav {
    /* border: 1px solid red; */
    display: flex;
    width: 100%;
}

.nav-header__logo {
    width: 50%;
    /* border: 1px solid black; */
}

.nav-header__buttons {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    width: 50%;
    align-items: center;

    & a {
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        color: black;
    }
* {
  box-sizing: border-box;
}

body{
    padding: 1rem, 3rem, 1rem, 3rem;
    font-family: Arial, Helvetica, sans-serif;
}

footer{
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 2rem;
}

.footer_p_bigger{
    font-size: 3rem;
}

.footer_span{
    font-weight: 600;
}

.footer_hr{
    border-top: 1px solid #ffffff;
}
.text__struct-h1-p{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.img__struct{
    display: grid;
    grid-column: 2;
    grid-row: 2;
}

.img-small1 {
    height: 300px;
    width: 300px;
    grid-column: 2;
    grid-row: 2;
}

.img-small2 {
    height: 300px;
    width: 350px;
    grid-column: 3;
    grid-row: 2;
}

.img-small-wider {
    height: 300px;
    width: 350px;
    grid-row: 1;
    grid-column: 3;
}

.img-small-wide {
    height: 300px;
    width: 715px;
    grid-row-start: 1;
    grid-row-end: 2;
}

.img-small-higher {
    height: 320px;
    width: 300px;
    grid-column: 1;
    grid-row: 2;
    place-self: center;
}

.main-2-grid {
    display: grid;
    grid-template-columns: 400px 300px 400px;
    padding-bottom: 1rem;
    gap: 1rem;
    justify-content: center;
}