header nav {
    /* border: 1px solid red; */
    display: flex;
    width: 100%;
}

.nav-header__logo {
    width: 50%;
    /* border: 1px solid black; */
}

.nav-header__buttons {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    width: 50%;
    align-items: center;

    & a {
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        color: black;
    }
* {
  box-sizing: border-box;
}

body{
    padding: 1rem, 3rem, 1rem, 3rem;
    font-family: Arial, Helvetica, sans-serif;
}

footer{
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 2rem;
}

.footer_p_bigger{
    font-size: 3rem;
}

.footer_span{
    font-weight: 600;
}

.footer_hr{
    border-top: 1px solid #ffffff;
}
.text__struct-h1-p{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.img__struct{
    display: grid;
    grid-column: 2;
    grid-row: 2;
}
