* {
  box-sizing: border-box;
}

body{
    padding: 1rem, 3rem, 1rem, 3rem;
    font-family: Arial, Helvetica, sans-serif;
}

footer{
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 2rem;
}

.footer_p_bigger{
    font-size: 3rem;
}

.footer_span{
    font-weight: 600;
}

.footer_hr{
    border-top: 1px solid #ffffff;
}
.text__struct-h1-p{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.img__struct{
    display: grid;
    grid-column: 2;
    grid-row: 2;
}
