header nav {
    /* border: 1px solid red; */
    display: flex;
    width: 100%;
}

.nav-header__logo {
    width: 50%;
    /* border: 1px solid black; */
}

.nav-header__buttons {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    width: 50%;
    align-items: center;

    & a {
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        color: black;
    }
}
